.video_class {
    margin:0 0 auto auto;
}

body {
    height: 1080px;
    background-image: linear-gradient(-180deg, #2E4156 0%, #111925 100%);
    background-size: cover;
    font-family: "Source Sans Pro";

}

ul {
    list-style-type: none;
}
/* Containers */
h3 {
    color:white;
    padding-top: 20px;
    margin: 0 0 auto auto;
    text-align: center;

}
.btn .btn-secondary .keyword .defaultTag .keyLabel{
    float: inherit;
    margin-left: -4px;
}

.btn .btn-secondary .keyword .keyLabel{
    float: inherit;
    margin-left: -4px;
}

.wrapper {
    padding-top: 32px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

.l_container {
    width: 640px;
    background-color: #131313;
}

.r_container {
    width: 400px;
    background: rgba(7,7,7,0.55);
    padding: 24px;

}

/* Playback Controls */

#controls {
    background: rgba(38,38,38,0.80);
    width: 640px;
    display: -webkit-inline-box;
}

    /*Play / Pause button*/
    #playpause {
        width: 48px;
        height: 48px;
        background-size: 48px 48px;
        border: none;
    }

    .play {
        background: url(assets/Play.png);
    }

    .pause{
        background: url(assets/Pause.png);
        }

    #timestamp {
        font-family: "Source Sans Pro";
        font-weight: 500;
        font-size: 14px;
        color: #FFFFFF;
        letter-spacing: 0;
        line-height: 20px;
        padding-top: 14px;
        padding-right: 12px;
    }

    .time_slider {
            padding-top: 18px;
            width:calc(450px);
    }

    #progressBar {
       background-color: #ffffff25;
       width:100%;
       height:20px;
    }

    #progressBar:hover {
        cursor: pointer;
    }

    #progress {
        background-color:#ffffff8c;
        height:20px;
        position: absolute;
        display: inline;
    }
    input#myRange {
        width: 100%;
        height: 14px;
        background: #ffffff25;
        transition: .2s ease-in-out;
    }

    span#progress {
        height: 20px;
    }

    .btn.apply {
        margin: 8px 20px;
        opacity:1;
        border-radius:2px;
        background-color: #02a2d8;
        color: white;
        text-transform: uppercase;
        letter-spacing: 1.5;
    }


/* Heatmap */


    .relevance {
        display: flex;
    }

h4 {
    color: white;
}

#relevanceLabel>h4{
    font-size: 14px;
    padding: 4px 8px;
    border-radius: 2px;
    border: 1px solid white;
    margin: 8px;
    text-transform: uppercase;
    letter-spacing: 0.5px;

}

#slidecontainer {
    margin:0 0 auto auto;

}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 60%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}




/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use webkit (Chrome, Opera, Safari, Edge) and moz (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 100px; /* Set a specific slider handle width */
    height: 14px; /* Slider handle height */
    color: #4382b9; /* Blue background */
    cursor: pointer; /* Cursor on hover */
    transition: .2s ease-in-out;
}

.slider::-moz-range-thumb {
    width: 10px; /* Set a specific slider handle width */
    height: 14px; /* Slider handle height */
    background: #4382b9; /* Green background */
    cursor: pointer; /* Cursor on hover */
    transition: .2s ease-in-out;

}

.btn {
    border-radius: 20px;

}

.btn:hover {
    color:#fff;
}

.title {
    text-transform: uppercase;
    font-family: "Source Sans Pro";
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0.75px;
    line-height: 20px;
}
#button:focus {outline:0;}

.btn:focus {outline:0;color:#fff;}

.tt {
    background-color: "#fff";
    color: "#fff";
}

#magma {
    width: 102%;
  margin-top: -19px;
  margin-left: -20px;
  height: 64px;
  padding: 0;
    opacity: .75;
    transition: .2s ease-in-out;

}
#magma:hover {
    opacity: 1;

}
    /* Tag Background: */
.keyword {
    color: #ffffffcc;
    opacity: 1;
    /*border: 1px solid rgba(245,245,245,0.65);*/
    border-radius: 50px;
    background: none;
}

.tag {
    border: 1px solid white;
    border-radius: 50px;
    margin:4px;
}

.defaultTag {
        background: rgba(0,0,0,0.50);
        border: 0px solid white;
}


.btn-group>.btn:last-child:not(:first-child), .btn-group>.dropdown-toggle:not(:first-child) {
    left: -6px;
}

.keyLabel {
    background: none;
}

.plus {
    font-size: 18px;
    padding: 4px 12px 4px 0;
    background: none;
}

.minus {
    font-size: 18px;
    padding: 3px 6px 4px 6px;
    background: none;
}

.pik {
    background: #ff6400 ;
    border: none;
}

input#addPik, input#addNik{
  width: 160px;
  background: none;
  color: white;
  border-style: solid;
  border-radius: 20px;
  padding: 6px 10px;
}

input[type=button]{
  background: none;
  color: white;
  border-radius: 20px;
  border-style: none;
  margin-left: -32px;
  padding-right: 20px;
}

#piknikArea {
  padding: 8px 16px;
  padding-bottom: 24px;
}

.nik {
    background: #0064ff ;
    border: none;
}

.x {
    padding: 4px;
}

table {
    width: 450px;
}

#relevanceMap {
    position: relative;
}
td {
    width: 10px;
  background-clip: padding-box; /* this has been added */
  /*border-radius: 20px;​*/
    border-spacing: 40px;
    border-collapse: separate;
}


