/***** Reset Minified *****/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/***** General Styles *****/
html, body {
    font-size: 16px;
	line-height: 1;
	font-style: normal;
    font-weight: 400;
    height: 90%;
    background: linear-gradient(to bottom, #b3cbd4 0%, #799ecc 100%) fixed;
	padding: 0;
	margin: 0;
}  
*, *:before, *:after {
	box-sizing: border-box;
}
a {
	color: #21211f;
	text-decoration: none;
}

/***** Clear Fix *****/
.cf:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.cf {
	display: inline-block;
}
* html .cf {
	height: 1%;
}
.cf {
	display: block;
}

/***** FOUT Fix *****/
.wf-loading {
	visibility: hidden;
}
.wf-active {
	visibility: visible;
}

/***** Styles *****/
main {
	margin: auto;
	height: 100%;
    padding: 0;
    margin: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

main section.content h1 {
	color: #21211f;
	font-size: 9rem;
	padding: 0;
	letter-spacing: -0.1rem;
	font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
	font-style: normal;
	font-weight: 600;
}

main section.content p {
	color: #21211f;
	font-size: 0.95rem;
	letter-spacing: 0.05rem;
    line-height: 0.5rem;	
	margin: -0.275rem 0 0 0.6rem;
	font-family: Courier;
	font-style: normal;
	font-weight: 500;
}

main section.content a {
    position: relative;
    top: 0.5rem;
	text-align: center;
	margin: 0.5rem;
	display: table;
	width: fit-content;
	font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
	font-style: normal;
	font-weight: 300;
	background: #21211f;
	border-radius: 50px;
	padding: 0.7rem 1.5rem;
	font-size: 0.9rem;
	letter-spacing: 0.25rem;
	text-transform: uppercase;
	color: #DEDEE0;
	transition: all 0.5s ease;
}

main section.content a:hover {
    filter: invert(100%);
	transition: all 0.5s ease;
}


/***** Portfolio *****/

#back {
	top: 1vw;
	left: 1vw;
	position: fixed;
	transition: all 0.5s ease;
}

#back:hover {
	filter: invert(100%);
}


.row {
	left:10%;
	right:35%;
}  
.row:after {
	content: "";
	display: table;
	clear: both;
}

.column {
	text-align: center;
	align-items: center;
	float: left;
	padding: 0 8rem 2.5rem 8rem;
	width: 50%;
}
.column img {
    width: 20vw;
	height: 20vh;
	padding:2px;
	border:1px solid #21211f;
}
.table {
	padding: 10px;
}
h2 {
	display:static;
	margin: 1rem;
	color: #21211f;
	font-size: 6rem;
	letter-spacing: -0.1rem;
	font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
	font-style: normal;
	font-weight: 600;
	text-align:center;
}

h3 {
	color: #21211f;
	font-size: 2rem;
	letter-spacing: -0.1rem;
	margin: 0.5rem;
	font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
	font-style: normal;
	font-weight: 600;
	text-align:center;
	transition: all 0.5s ease;
}

h3:hover {
	filter: invert(100%);
}

main section.table {
	position:relative;
	display:inline-block;
	justify-items: center;
	align-items: center;	
	font-size: 1.2rem;
	font-family: serif;
	font-style: normal;
}
main section.table p {
	font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
	margin: 1rem;
}

/***** Footer *****/
footer {
	position: relative;
	text-align: center;
	display: block;
	width: 100%;
	bottom: -10vh;
}

footer a {
	margin: 0 1.25rem;
	color: #21211f;
	font-size: 1.8rem;
	transition: all 0.5s ease;
}

footer a:hover {
    filter: invert(100%);
}

/***** Responsiveness *****/
@media all and (max-width: 900px) {
    #content-desktop {display: none;}
	html, body {
		font-size: 10px;
	}
	main section.content a {
		margin: 1.5rem auto;
		display: block;
		padding: 1.35rem 1.5rem;
		font-size: 1.4rem;
    }
    main section.content p {
        font-weight: 800;
		font-size: 0.9rem;
		letter-spacing: 0.085rem;
    }
    footer a {
        font-size: 2.5rem;
	}
	.column {
		width: 50%;
	}
	.column img {
		width: 35vw;
		height: 14vh;
		padding:2px;
		border:1px solid #21211f;
	}	
}
@media all and (max-width: 600px) {
    #content-desktop {display: none;}
	html, body {
		font-size: 9px;
	}
	main section.content a {
		padding: 1.5rem 1.5rem;
		font-size: 1.5rem;
    }
    main section.content p {
        font-weight: 800;
		font-size: 0.9rem;
		letter-spacing: 0.07rem;

    }
	footer a {
		font-size: 2.5rem;
	}
	.column {
		width: 100%;
	}
	.column img {
		width: 50vw;
		height: 14vh;
		padding:2px;
		border:1px solid #21211f;
	}	
}
