
#info {
    color: #000000 ;
    font-family:Monospace;
    font-size:1.2vw;
    text-align:center;
    font-weight: bold;
    position: absolute;
    top: 3%; 
    padding: 5px;
    z-index: 100;
}
