body {
    color: #ffffff;
    font-family:Monospace;
    font-size:1.2vw;
    text-align:center;
    font-weight: bold;
}
#info {
    color: #fff ;
    position: absolute;
    top: 3%; 
    width: 100%;
    padding: 5px;
    z-index: 100;
}
