@import "https://fonts.googleapis.com/css?family=Raleway:100,300,600";

body {
    margin: 0 0 0 0 ;
}

#info {
    color: #000000 ;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-size:3vw;
    font-weight:100;
    text-align:center;
    position: absolute;
    top: 2%; 
	width: 100%;
    padding: 5px;
    z-index: 100;
}
