@charset "UTF-8";
@import url(font-awesome.min.css);
@import "https://fonts.googleapis.com/css?family=Raleway:100,300,600";


/* Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    color: black;
    vertical-align: baseline;
}
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block;
}

  ol, ul {
		list-style: none;
}

	blockquote, q {
		quotes: none;
}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
}

	table {
		border-collapse: collapse;
		border-spacing: 0;
}

  header {
    margin:1rem;
    width: 98%;
    position:absolute;
}

header .logo {
  margin-left:1rem;
  margin-top:4rem;
}

.nav a {
  color:orange;
  font-size:1.5rem;
  float: right;
  margin-right:4rem;
  word-spacing:0.8rem;
}

 body {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: black;
  overflow: hidden;
  z-index:0;
}

#main {
  position:absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index:5;
  margin: auto;
  text-align:center;
  width:125rem;
}

h1 {
  font-weight: normal;
  font-size:4rem;
  color:white;
  margin:1rem;
  margin-bottom:7rem;
}

h2 {
  font-weight:normal;
  font-size:2.7rem;
  color:dodgerblue;
  margin:2rem;
}

h3 {
  font-weight:normal;
  font-size:1.5rem;
  color:dodgerblue;
  margin-top:8rem;
}


p {
  font-size: 1.35rem;
  color:white;
  line-height: 2.25rem;
  margin:1.5rem;
}

footer {
  position:absolute;
  top: 90%;
  left: 50%;
  transform: translate(-80%, -50%);
  z-index:5;
}

footer a {
  float:right;
	color: #fff;
	font-size: 0.8rem;
	transition: all 0.5s ease;
}


footer .copyright {
  font-size: 1rem;
  margin-bottom: 0;
  padding: 0;
}

footer p {
  margin 0 0 0 0;
  font-size: 
}

	.flex {
    position:absolute;
    margin:auto;
    top:60%;
		display: -ms-flexbox;
		-ms-flex-wrap: wrap;
		-ms-flex-pack: justify;
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-moz-justify-content: space-between;
		-webkit-justify-content: space-between;
		-ms-justify-content: space-between;
		justify-content: space-between;\
	}


		.flex.flex-3 article {
			position: relative;
			width: 30%;
		}

			.flex.flex-3 article:before {
				content: '';
				position: absolute;
				height: 100%;
				right: -2em;
				top: 0;
				border-right: 1px solid #dbdbdb;
				pointer-events: none;
			}

			.flex.flex-3 article:last-child:before {
				border: none;
			}

h3 {
		color: #5385c1;
		font-weight: 300;
		line-height: 0;
		margin-top:-2rem
	}


